.container {
  height: calc(100vh - 100px);
  background-color: #d14114;
  overflow: hidden; 
}

.imgContainer {
  display: flex;
}

.arrowContainer {
  position: absolute;
  width: 10%;
  height: 20%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.wrapper {
  width: 300vw;
}
