@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');

body {
  background-color: #eee; 
  font-family: 'Edu NSW ACT Foundation', cursive;
  margin: 0; 
}